 
.box
{
    margin-top:10px;
border:1px solid #ccc;
padding:5px; 
background:#fff;
width:100%;
}

.backers-image{
  margin-left:-7px;
}


div.team-member hr {display: block; clear: left; }

p {
    display: inline-block;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 20px;
    font-size: 32px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
  margin: 20px;
}

.well-sm {
  background-color:#fff;
}
.team-member-image{
float:left;
width:30%;
height:30%;
margin-right:10px;
margin-left:10px;
margin-bottom:0px;
margin-top:10px;

display:inline;

}

.reviewer-image{
  width:12%;
  height:12%;
  margin-right:5px;
  margin-left:-15px;
  margin-bottom:0px;
  float:left;
}
.borderBox
{
border:1px solid #ccc;
padding:0; 
background:#fff;
width:100%;
margin-bottom:10px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
 box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 1.0;
  filter: alpha(opacity=97);
}

.btn-default{
  margin-bottom:20px;
}
