.marginl10 { margin-left: 10px; }
.marginr10 { margin-right: 10px; }
.margint10 { margin-top: 10px;}
.marginb10 { margin-bottom: 10px;}
.marginb20 { margin-bottom: 20px;}
.margin10lr { margin-left: 10px; margin-right: 10px; }
.paddingr10 { padding-right: 10px;}
.noPadding { padding: 0 !important;}
.border { border: 1px solid black; }
.bold {font-weight: bold;}
.grey { color: grey; }
.circleFilled {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
}
.bgRed { background-color: #d9534f; }
.bgGreen {background-color: #5cb85c;}
.bgSkyBlue {background-color: #5bc0de;}
.bgDeepBlue {background-color: #428bca;}
.pointer {cursor: pointer;}
.noBorder { border: 0px; }