.loginImg {
  background: url("../images/loginImg.png") no-repeat;
  background-size: cover;
}

.loginTable tr td {
  padding-bottom: 5px;
  padding-left: 5px;
}

.loginFormRow td {
  padding-top: 20%;
}

.loginBottom {
  position:absolute;
  bottom:30px;
  display: block;
}

.loginBottom a {
  margin-right: 20px;
}

.authSign {
  font-size: 20px;
  font-weight: bold;
}