 
.chat-name
{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
border-top:0;
padding:0; 
background:#fff;
width:100%;
}

.chat-image{

width:80px;
height:60px;
margin-right:10px;
margin-left:-2px;

}

.chat-small-image{

width:40px;
height:30px;
margin-right:10px;
margin-left:-2px;

}
